<div ng-include src="'topbar/login_topbar.html'"></div>

<div id="register-row" class="row justify-content-center align-items-center">

        <div id="register-column" class="col-md-6">
            <div id="register-box" class="col-md-12" ng-controller="RegisterCtrl as main">
                <form id="register-form" class="form" action="" method="post" name="registerForm">
                    <h3 class="text-center text-info">Register</h3>
                    <div ng-if="main.errorMessage" class="text-danger">{{main.errorMessage }}</div>
                    <div class="form-group position-relative pb-3">
                        <label for="firstName" class="text-info">First Name:</label><br>
                        <input type="text" name="firstName" ng-model="main.user.first_name" id="firstName" class="form-control" required >
                        <span class="error position-absolute" ng-show="registerForm.firstName.$touched && registerForm.firstName.$invalid">Required!</span>
                    </div>
                    <div class="form-group position-relative pb-3">
                        <label for="lastName" class="text-info">Last Name:</label><br>
                        <input type="text" name="lastName" ng-model="main.user.last_name" id="lastName" class="form-control" required >
                        <span class="error position-absolute" ng-show="registerForm.lastName.$touched && registerForm.lastName.$invalid">Required!</span>
                    </div>

                    <div class="form-group position-relative pb-3">
                        <label for="username" class="text-info">Username:</label><br>
                        <input type="text" name="username" ng-model="main.user.username" id="username" class="form-control" ng-pattern="/^[0-9a-zA-Z_]*$/" required >
                        <span class="error position-absolute" ng-show="registerForm.username.$touched && registerForm.username.$invalid">Required!</span>
                    </div>
                    <div class="form-group position-relative pb-3">
                        <label for="email" class="text-info">Email:</label><br>
                        <input type="email" name="email" ng-model="main.user.email" id="email" class="form-control" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required >
                        <span class="error position-absolute"  ng-show="registerForm.email.$touched && registerForm.email.$invalid">Required!</span>
                    </div>

                    <div class="form-group position-relative pb-3">
                        <label for="password" class="text-info">Password:</label><br>
                        <input type="password" name="password" ng-model="main.user.password" id="password" class="form-control" ng-pattern="/^.*(?=.{6,})(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).*$/" required >
                        <span class="error position-absolute"  ng-show="registerForm.password.$touched && registerForm.password.$invalid">Required!</span>
                    </div>

                    <button type="button"  class="btn btn-info btn-md" ng-click="main.RegisterUser(main.user)" ng-disabled="registerForm.$invalid">Register</button>
                </form>
            </div>
        </div>
    </div>
